<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">Car Dealership Project</h5>
    <p class="card-text">A car dealership has a large inventory of cars and needs a tool to help their customers narrow
      down which cars they could be interested in. Each automobile has several properties that will be used for the search.
      The manager at the dealership wants to give their customers the option to select 1 or more options as search criteria
      and give them the option to say that they want any of those options or all of those options. </p>
  </div>

  <div class="card-body">
    <h5 class="card-title">Technology Used</h5>
    <p class="card-text"> AngularJS, Spring Boot, Spring REST, JPA Repository, MySQL </p>

  </div>
</div>
